<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>JyewLmTBwqeVR0jvlU0F3FzJiZpuE+PPhGPAxuqjaO4qk2ahPGmkSwCgF9B2tWFNQH6r72wnE2D+btIs7TzmiLNtt1K4DkA85QQuHzrhsNCBJsAFN3csxljPfnSVRuf1EwfYgqJ/TbC0/It7ZEpsY3jK71/TRkvWnSF1p3zwczk=</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>YILrz7hoUC5NXC+v2LBK0+uNytvpqmeaeon9jhkFOys=</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
</configuration>